# Atari environments
ale-py >= 0.11.0
gymnasium >= 1.1.1

# DL
torch >= 2.7.0
torchaudio >= 2.7.0
torchvision >= 0.22.0
tensorboard >= 2.19.0

# CLI tools
tqdm >= 4.67.1
dacite >= 1.9.2
PyYAML >= 6.0.2

# Video recordings
imageio >= 2.37.0
imageio-ffmpeg >= 0.6.0
